<h1>Current Status</h1>

<h2>Kp Index</h2>
<p><%= link_to 'Current Report', KpIndexService.data_url %></p>
<p><%= @kp_forecast[0] %> - <%= @kp_forecast[1] %></p>

<h2>Cloud Cover Percentage</h2>
<p><%= link_to 'Current Report', "http://forecast.weather.gov/MapClick.php?lat=#{@user.user_location.latitude}&lon=#{@user.user_location.longitude}" %></p>
<p><%= @user.user_location.city %>, <%= @user.user_location.state %> - <%= @cloud_cover_percentage %>%</p>

<h2>Latest Space Weather Event</h2>
<p><%= link_to "Current Report", SpaceWeatherAlertService.data_url(Date.today) %></p>
<% if @latest_space_weather_event.nil? %>
  <p>No recent events</p>
<% else %>
  <p>
    Message code: <%= @latest_space_weather_event.message_code %></br>
    Event type: <%= @latest_space_weather_event.event_type %></br>
    Serial number: <%= @latest_space_weather_event.serial_number %></br>
    Issue time: <%= @latest_space_weather_event.issue_time %></br>
    Kp Index: <%= @latest_space_weather_event.kp_index %></br>
    Geomagnetic storm level: <%= @latest_space_weather_event.geomagnetic_storm_level %>
  </p>
<% end %>

<h2>Moon Phase</h2>
<p><%= @moon_phase.to_s.humanize %></p>

<h2>Night time?</h2>
<p><%= @nighttime %></p>
