<% if !@errors.blank? %>
  <div id="errorExplanation">
    <h2>Please correct the following errors:</h2>
    <ul>
      <% @errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user, :url => new_user_path do |f| %>
  <div>
    <%= f.label :mobile_phone %>
    <%= f.phone_field :mobile_phone %>
  </div>

  <div>
    <%= f.label :user_location_value, 'Zipcode' %>
    <%= f.text_field :user_location_value %>
  </div>

  <div>
    <%= f.button "Signup" %>
  </div>
<% end %>
