<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
  <title>Project Aurora</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "mobile", :media => "only screen and (max-device-width: 800px) and (min-device-width: 320px)" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1 id="title">Project Aurora</h1>
  <nav>
    <%= link_to 'How does it work?', '#how_does_it_work' %>
    <%= link_to 'About', '#about' %>
    <%= link_to 'FAQ', '#faq' %>
  </nav>
</header>

<div id="main_content">
  <%= yield %>
</div>

<footer>
  <p id="background_photo_credit">Background photo courtesy of <%= link_to 'Tor Even Mathisen', 'http://www.flickr.com/photos/tittentem/6767922427/' %></p>
</footer>

</body>
</html>
