<!DOCTYPE html>
<html>
<head>
  <title>Aurora</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="main_content">
  <%= yield %>
</div>

<footer>
  <p>Background photo courtesy of <%= link_to 'Tor Even Mathisen', 'http://www.flickr.com/photos/tittentem/6767922427/' %></p>
</footer>

</body>
</html>
